<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Forgot Password</title>
    <style>
        body,
        table,
        td,
        a {
            font-family: Arial, sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100% !important;
            background-color: #f4f4f4;
        }

        table {
            border-spacing: 0;
            max-width: 600px;
            width: 100%;
            background-color: transparent;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .container {
            padding: 20px 0px 20px 0px;
            text-align: center;
        }

        .title {
            font-size: 1.8rem;
            font-weight: bolder;
            color: #3D4EAF;
            margin: 20px 0px 15px 0px;
        }

        .fallback-text {
            font-size: 0.9rem;
            line-height: 1.5;
            padding: 0px 90px;
        }

        .suggestion {
            font-size: 0.9rem;
            line-height: 1.5;
            margin: 15px 0px 0px 0px;
            padding: 0px 70px;
        }

        .greet {
            font-size: 0.9rem;
            line-height: 1.5;
            margin: 10px 0px 15px 0px;
            padding: 0px 20px;
            text-align: left;
        }

        .btn {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: bold;
            color: #3D4EAF;
            text-decoration: none;
            border: 2px solid #3D4EAF;
            border-radius: 5px;
            margin: 20px 0;
        }

        .footer {
            background-color: #3D4EAF;
            color: #ffffff;
            padding: 20px 0;
            font-size: 14px;
        }

        .footer-link {
            text-decoration: none;
            color: #ffffff;
        }

        @media screen and (max-width: 600px) {
            .container {
                padding: 20px 0px 20px 0px !important;
            }
            .logo {
                width: 200px !important;
            }
            .title {
                font-size: 1.5rem !important;
            }
            .fallback-text {
                padding: 0px 20px !important;
            }
            .suggestion {
                margin: 15px 0px 15px 0px !important;
                padding: 0px 20px !important;
            }
        }
    </style>
</head>

<body>

    <table align="center" style="background-color: #fff;">
        <tr style="background: url('https://medhub.global/uploads/emailer_images/medhubEmailerBanner.png') no-repeat center; 
                                       background-attachment: unset; width: 100%;">
            <td style="vertical-align: top; padding-top: 20px; padding-left: 20px;">
                <table align="top">
                    <tr>
                        <td>
                            <img src="https://medhub.global/uploads/emailer_images/medhubLogo.png" alt="Logo"
                                width="200" style="padding-bottom: 10rem;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="container">
                <p class="title">FORGOT YOUR PASSWORD?</p>
                <p class="fallback-text">
                    Oh no, it happens to the best of us! If you've forgotten your password, don't worry – we've got you
                    covered.
                </p>
                <a  class="btn" target="_blank">OTP: <%= otp %></a>
                
                <p class="suggestion">
                    Thank you for choosing us and We’re thrilled to have you back on board. Let's continue on this
                    journey together!
                </p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #fff;">
                <p class="greet">
                    Best regards,<br /><b>Medhub Global Team</b><br />
                </p>
            </td>
        </tr>
    </table>
    <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="footer" align="left" style="padding-left: 20px;">
                <a href="mailto:connect@medhub.global" class="footer-link">connect@medhub.global</a>
            </td>
            <td class="footer" align="right" style="padding-right: 20px;">
                <a href="https://medhub.global/" class="footer-link" target="_blank">medhub.global</a>
            </td>
        </tr>
    </table>

</body>

</html>