<%- include('partials/header') %>

<p>Dear <%= contact_person_name %>,</p>
<p>Thank you for registering on Medhub Global as a <%= userType %>. We are thrilled to have you onboard!</p>
<p>We are currently reviewing the details you provided during registration. Once the review process is complete, you will receive an email confirmation from our team.</p>
<p>If you have any questions in the meantime, please feel free to reach out to our support team at <a href="mailto:connect@medhub.global">connect@medhub.global</a>.</p>
<p>Thank you for choosing Medhub Global. We look forward to serving you!</p>

<%- include('partials/footer') %>
