<hr>
<table width="100%" style="background-color: #f8f9fa; padding: 10px;">
  <tr>
    <td align="center">
      <p style="color: #666;">© 2024 Medhub Global. All rights reserved.</p>
      <p><a href="https://medhub.global" style="color: #007bff;">Visit our website</a></p>
    </td>
  </tr>
</table>
