<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registration</title>
    <style>
        body, table, td, a {
            font-family: Arial, sans-serif;
        }
        body {
            margin: 0;
            padding: 0;
            width: 100% !important;
            background-color: #f4f4f4;
        }
        table {
            border-spacing: 0;
            max-width: 600px;
            width: 100%;
            background-color: transparent;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        .container {
            padding: 10px 0px 10px 0px;
            text-align: center;
        }
        .title {
            font-size: 2rem;
            font-weight: bolder;
        }
        .fallback-text {
            font-size: 0.9rem;
            color: #3D4EAF;
            line-height: 1.5;
            margin: -20px 10px 15px 10px;
            padding: 0px 70px;
        }
        .account, .suggestion, .greet {
            font-size: 0.9rem;
            line-height: 1.5;
            padding: 0px 20px;
            text-align: left;
        }
        .btn {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: bold;
            color: #3D4EAF;
            text-decoration: none;
            border: 2px solid #3D4EAF;
            border-radius: 5px;
            margin: 20px 0;
        }
        .footer {
            background-color: #3D4EAF;
            color: #ffffff;
            padding: 20px 0;
            font-size: 14px;
        }
        .footer-link {
            text-decoration: none;
            color: #ffffff;
        }
        @media screen and (max-width: 600px) {
            .title {
                font-size: 1.5rem !important;
            }
            .fallback-text {
                margin: -10px 10px 15px 10px !important;
                padding: 0px 20px !important;
            }
        }
    </style>
</head>

<body>
    <table align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr style="background: url('https://medhub.shunyaekai.com/uploads/emailer_images/medhubEmailerBanner.png') no-repeat center; 
            background-attachment: unset; width: 100%;">
            <td style="vertical-align: top; padding-top: 20px; padding-left: 20px;">
                <table align="top">
                    <tr>
                        <td>
                            <img src="https://medhub.shunyaekai.com/uploads/emailer_images/medhubLogo.png" alt="Logo"
                                width="200" style="padding-bottom: 10rem;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
